# app
fastapi==0.55.1
uvicorn==0.18.2
pydantic==1.4
email-validator==1.1.1
# db
databases[postgresql]==0.6.1
SQLalchemy==1.4.40
alembic==1.4.2
# dev
pytest==6.2.1
pytest-asyncio==0.14.0
httpx==0.23.0
asgi-lifespan==1.0.1
